*{
    margin: 0;
    padding: 0;
}
.main{
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.parent{
    display: flex;
    border: 1px solid black;
    width: 1200px;
    height: 700px;
    margin-left: 20px;
}
.left{
    width: 600px;
    border: 1px solid black;
    padding-top: 30px;
    padding-left: 15px;
    
}
.right{
    width: 600px;
    border: 1px solid black;
    padding-top: 30px;
    padding-left: 15px;
}
 input{
    margin-top: 10px;
    width: 120px;
    height: 30px;
}
.adjust{
    width: 260px;
    height: 700px;
    border: 1px solid black;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adjust button{
    font-size: 30px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 12%;
}
 