@media  only screen  and (min-width:0) and (max-width:576px){
    .box{
        width: 100%;
    }
    #menu{
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        transition: 1s;
        height: 100vh;
        color: white;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
      #close,#ham_menu{
        display: block;
        font-size: 30px;
      }
}
@media  only screen  and (min-width:577px) and (max-width:786px){
    .box{
        width: 50%;
    }
}
    
